@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }
  }

  html {
    scroll-behavior: smooth;
  }
  body {
    overflow-x: hidden;
  }

  h1, 
  h2,
  h3 {
    font-weight: 600;
  }

  h2,
  h3 {
    word-break: break-all;
  }

.hamburger {
    width: 40px;
    position: relative;
    z-index: 100;
}

.hamburger-line {
    display: block;
    width: 40px;
    height: 6px;
    margin: 10px auto;
    transition: all 1s ease-in-out;
    background-color: #000;
    border-radius: 10px;
}

.hamburger-line:nth-child(1) {
    animation: hamburger-line-3 3000ms ease-in-out infinite;
}

.hamburger-line:nth-child(2) {
    animation: hamburger-line-2 3000ms ease-in-out infinite;
}

.hamburger-line:nth-child(3) {
    animation: hamburger-line-1 3000ms ease-in-out infinite;
}

.hamburger.active {
    visibility: hidden;
    opacity: 0;
}

.aside-menu-hamburger.active .hamburger-line:nth-child(1){
    transform: translateY(16px) rotate(45deg);
    animation: none;
}

.aside-menu-hamburger.active .hamburger-line:nth-child(2){
    opacity: 0;
    animation: none;
}

.aside-menu-hamburger.active .hamburger-line:nth-child(3){
    transform:translateY(-16px) rotate(-45deg);
    animation: none;
}


@keyframes hamburger-line-1 {

   40% {
        transform: translateX(0px);
        width: 100%;
    }

    50% {
        transform: translateX(10px);
        width: 0px;
    }

    80% {
        transform: translateX(0px);
        width: 100%;
    }

    100% {
        transform: translateX(0px);
        width: 100%;
    }
}

@keyframes hamburger-line-2{
   40% {
        transform: translateX(0px);
        width: 100%;
    }

    60% {
        transform: translateX(10px);
        width: 0px;
    }

    90% {
        transform: translateX(0px);
        width: 100%;
    }

    100% {
        transform: translateX(0px);
        width: 100%;
    }
}

@keyframes hamburger-line-3{
   40% {
        transform: translateX(0px);
        width: 100%;
    }

    70% {
        transform: translateX(10px);
        width: 0px;
    }

    100% {
        transform: translateX(0px);
        width: 100%;
    }
}

.menu {
    transition: all 1s ease-in-out;
}

.menu.active {
    right: 0;
}

/* HERO SECTION */


.hero {
    margin-top: 103px;
    height: calc(100vh - 103px);
}

.social-link {
    transform: translateX(calc(100% - 25px));
}

.social-link:hover,
.social-link:focus {
    transform: translateX(0)
}

@media screen and (min-width: 1024px) {
    .social-link {
        transform: translateX(calc(100% - 50px));
    }
    
    .social-link:hover {
        transform: translateX(0)
    }


.hero {
    margin-top: 150px;
    height: calc(100vh - 150px);
}
}
/* KONTAKT-4 */

.dropdown-answer{
    transition: all .3s ease-in-out;
}

.question-dropdown.active .dropdown-answer {
    position: static;
    display: block;
    transform: scaleY(1) translateY(0);
}

.question-dropdown-button {
    transition: all .3s ease-in-out;
}

.question-dropdown-button.active {
    transform: rotate(-180deg);
}

.image-bookmark {
    clip-path: polygon(100% 0%, 100% 100%, 50% 75%, 0 100%, 0 0);
}